@use "../../App";

.players {
  background-color: App.$colorBackground;
  height: App.$heightMain;
}

.playersBody {
  display: block;
  flex-direction: column;
}

.playersBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  gap: 0.5em;
}

.playerCard {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff80;
  height: 2em;
  width: 70%;
  border: thick double App.$colorThird;
  border-radius: 0.2em;
  text-align: center;
  font-family: App.$fontFamilySecondary;
  font-size: 1.5em;
  color: #d93e30;
}

.playersTitle {
  color: App.$colorText;
  font-family: App.$fontFamilyPrimary;
  font-size: calc(App.$fontSize * 2);
  text-align: center;
  padding-top: 5%;
}

.scoreBoardBurtton {
  display: block;
  margin: auto;
  margin-top: 5%;
  border: thick double App.$colorThird;
  border-radius: 0.2em;
  background-color: transparent;
  font-size: 1em;
  color: App.$colorTextSecondary;
  padding: 0.5em;
  font-family: App.$fontFamilyThird;
}

.linkButtonScore {
  text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  .playersBlock {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .playersTitle {
    padding-top: unset;
    position: absolute;
    top: 5%;
    right: 30%;
    left: 30%;
  }
  .playerCard {
    font-size: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    width: 40%;
  }

  .scoreBoardBurtton {
    position: absolute;
    margin-top: 0;
    top: 2%;
    right: 1%;
  }
}
