@use "../../App";

.Game {
  background-color: App.$colorBackground;
  height: App.$heightMain;
}

.playerName {
  color: App.$colorText;
  font-family: App.$fontFamilyThird;
  font-size: calc(App.$fontSize * 2);
  text-align: center;
  padding-top: 5%;
}

.quote {
  margin-top: 5%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  .quote {
    margin-top: 0;
  }

  .playerName {
    font-size: calc(App.$fontSize * 1.3);
    padding-top: 2%;
  }
}
